<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}- Gestion de Bibliothèque
			{% endblock %}
		</title>


	</head>
	<body>
		{% block body %}
			<div class="container"></div>
		{% endblock %}
	</body>
</html>
