{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container mt">
    <h1 class="text-center">Bienvenu sur notre site de Gestion de Bibliothèque</h1>
</div>
{% endblock %}
