{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Bienvenu sur notre site de Gestion de bibliothèque</h1>
</div>
{% endblock %}
