{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center text-justify">Bienvenu sur notre site de Gestion de Bibliothèque</h1>
</div>
{% endblock %}
